
@{
    ViewBag.Title = "Test3";
    Layout = null;
}

<h4>Yapılacaklar</h4>
<br />
<p><del>Başlıklarada Arama Çubuğu Yap</del></p>
<p><del>Yazar Görselleri Düzenlenecek</del></p>
<p>Grafikler</p>
<p> <del>Vitrin Teması</del></p>
<p>Gelen Kutusunda Arama</p>
<p>Yetkilendirmeler</p>
<p><del>Hata Sayfası Layouttan Ayrılacak</del></p>
<p><del>Sözlük ve Vitrin Ayrılacak</del></p>
<p>Herhangi Bir Tablo Raporlanacak</p>
<p>Proje Dosyaları Sunucuya Tasşınacak</p>
<p>Alan Adı Alınacak</p>
<p>Proje Canlıya Taşınacak</p>
<p>Url'de ID Yerine İsim Gelsin</p>
<p><del>IFrame Ekleme</del></p>
<p>SweetAlert</p>
<p>Admin Çıkışı</p>
